<section *ngIf="musica">
  <h1 class="mb-4 mt-5 border-bottom">{{ musica.titulo }}</h1>
  <div>
    <span *ngIf="musica.artistas.length == 1"
      ><i class="text-muted fas fa-user"></i
    ></span>
    <span *ngIf="musica.artistas.length != 1"
      ><i class="text-muted fas fa-users"></i
    ></span>
    &nbsp;
    <span *ngFor="let artista of musica.artistas; last as ultimo">
      <a [routerLink]="['/artistas', artista.id]">{{ artista.nome }}</a
      ><span *ngIf="!ultimo">, </span>
    </span>
  </div>
  <div>
    <i class="text-muted fas fa-tag"></i>
    &nbsp;
    <a [routerLink]="['/generos', musica.genero.id]">
      {{ musica.genero.nome }}
    </a>
    <br />
    <br />
    <button class="btn btn-primary" (click)="disco.gostarDaMusica(musica)">
      Gostei &nbsp;
      {{ musica.gostei }}</button
    >&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="disco.naoGostarDaMusica(musica)">
      Não Gostei &nbsp;
      {{ musica.naoGostei }}
    </button>
    <h3 class="mb-4 mt-5 border-bottom">Músicas</h3>
    <p *ngIf="musica.gostei">
      <span *ngFor="let artista of musica.artistas">
        <span
          *ngFor="let musica of disco.listaDeMusicasDoArtista(artista.nome)"
        >
          <span *ngFor="let genero of disco.listaDeGeneros()">
            <span *ngIf="genero.nome === musica.genero.nome">
              <p *ngFor="let musica of genero.musicas">
                {{ musica.titulo }}
              </p>
            </span>
          </span>
        </span>
        <br />
      </span>
    </p>
    <p *ngIf="musica.naoGostei">
      <span *ngFor="let artista of musica.artistas">
        <span
          *ngFor="let musica of disco.listaDeMusicasDoArtista(artista.nome)"
        >
          <!-- <span>
            {{ musica.titulo }}
          </span> -->
          <span *ngFor="let genero of disco.listaDeGeneros()">
            <span *ngIf="genero.nome !== musica.genero.nome">
              <p *ngFor="let musica of genero.musicas">
                {{ musica.titulo }}
              </p>
            </span>
          </span>
        </span>
        <br />
      </span>
    </p>
    <div></div>
  </div>
</section>
